# Firebase Config — Thuê Xe Nhanh
# Sao chép file này thành .env.local và điền vào giá trị thật
# File .env.local KHÔNG được commit lên git

VITE_FIREBASE_API_KEY=AIzaSyBwvOyGU-okDI3H1kYr4NVYkpbltWxvTmY
VITE_FIREBASE_AUTH_DOMAIN=thuexenhanh.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=thuexenhanh
VITE_FIREBASE_STORAGE_BUCKET=thuexenhanh.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=336462178480
VITE_FIREBASE_APP_ID=1:336462178480:web:0c59ea6d04994503d03375
